<div class="mid">
  <div class="main">
    <div class="qty"> 
      <div>
        <p style="font-size: large; margin-left: 10px; padding-top: 10px;"> 1 </p>
      </div>
      <div>
        <p style="float: left;">Birthday cake</p>
      </div>
  
  </div>
    <div class="qty"></div>
    <div class="qty"></div>
    <div class="qty"></div>
    <div class="qty"></div>
  </div>
  <div class="heading">
    <h1 style="text-align: center; position: relative;top: 300px; ">
      Your shopping cart
    </h1>
    <p style="text-align: center; position: relative;top: 300px; font-size: large;">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
      assumenda odit, repellendus provident dolore sapiente blanditiis aperiam
      eius esse sint adipisci doloribus laborum libero exercitationem quas optio
      officia suscipit minus.
    </p>
  </div>
</div>
